@model SportsStore.Domain.Models.Product
@{
ViewData["Title"] = "Chỉnh sửa sản phẩm";
}
<h1>Chỉnh sửa sản phẩm</h1>
<form asp-action="Edit" method="post" class="needs-validation"
novalidate>
<div asp-validation-summary="All" class="text-danger"></div>
