@{
    ViewData["Title"] = "Trang Test";
}
<h1>@ViewBag.Message</h1>
<p>Bạn cuos thể truy cập các đường dân sau</p>
<ul>
    <li><a href="/Test/HelloWord">/Test/HelloWord</a></li>
    <li><a href="/Test/Welcome?name=Teo">/Test/Welcome?name=Teo</a></li>
</ul>