@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với cửa hàng thể thao!</h1>
    <p>Tìm hiểu về <a href="https://learn.microsoft.com/aspnet/core">Xây dựng ứng dụng Web với ASP.NET</a>.</p>
    <img src="~/imgs/anh.png" alt="Test Image" class="custom-
image" />
</div>
